<!-- <div class="container-fluid" *ngIf="loading">
  <div class="row justify-content-center align-content-center">
    <div class="col-12" style="height: 100%;min-height: 300px;" >
      <img src="assets/images/loader/red-spinner.gif" alt="" style="width: 50px;">
    </div>
  </div>
</div> -->

<div class="container-fluid page-loader-component" *ngIf="loading" fxLayout="row" fxLayoutAlign="center center" style="height: 100%;min-height: 300px;">
  <div>
    <!-- <img src="assets/images/loader/red-spinner.gif" alt="" style="width: 50px;"> -->
    <i class="pi pi-spin pi-spinner" style="font-size: 50px; color: rgb(252, 22, 22);"></i>
  </div>
</div>
