<div class="login-form-container">
  <!-- <form [formGroup]="loginForm" (submit)="login()">
        <div class="form-group">
          <input type="text" required="" name="email" maxlength="35" formControlName="userName"
            placeholder="Username or Email *" />
          <div *ngIf="validateForm('userName')" class="invalid-error">
            <span *ngIf="loginFormControl.userName.errors.required">Email Id is Required</span>
            <span *ngIf="!loginFormControl.userName.errors.required">Enter Valid Email ID.</span>
          </div>
        </div>
        <div class="form-group">
          <input required="" [type]="loginFormControl.showPassword.value ? 'text' : 'password'"
          name="password" maxlength="20" formControlName="password" placeholder="Your password *" />
          <div *ngIf="validateForm('password')" class="invalid-error">
            <span *ngIf="loginFormControl.password.errors.required">Password Id is Required</span>
            <span *ngIf="!loginFormControl.password.errors.required">Password must contain atleast 8
              characters</span>
          </div>
        </div>
        <div class="login_footer form-group mb-50 ml-5">
          <div class="chek-form">
            <div class="custome-checkbox">
              <input formControlName="showPassword" class="form-check-input" type="checkbox" name="checkbox"
                id="ShowPassword" value="" />
              <label class="form-check-label" for="ShowPassword"><span>Show Password</span></label>
            </div>
          </div>
          <a class="text-muted" routerLink="/forgot-password">Forgot password?</a>
        </div>
        <div class="form-group" align="center">
          <button type="submit" class="btn btn-block hover-up" name="login">
            Log in
          </button>
        </div>
      </form> -->


  <div class="login-form-sticky">

    <form [formGroup]="loginForm" (submit)="login()" [ngClass]="otpSent? 'd-none': ''">

      <h4 class="login-title">Login/SignUp</h4>

      <div class="container login-mobile">

        <div class="mb-4">
          <span class="p-float-label">
            <p-inputNumber mode="decimal" [useGrouping]="false" [maxlength]="10" formControlName="number" (onInput)="validateNumber($event)" id="number"></p-inputNumber>
            <label htmlFor="number">Mobile Number</label>
          </span>
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-login btn-block" [disabled]="btnLogin"> Proceed Via OTP </button>
        </div>

        <div class="mt-3 text-center">
          <span class="login-terms"> By signing in you agree to our <a href="#" target="_blank">terms and conditions</a> </span>
        </div>

      </div>

    </form>

    <form [formGroup]="otpForm" (submit)="otpVerify()" [ngClass]="!otpSent? 'd-none': ''">

      <h4 class="login-title">Login/SignUp</h4>

      <div class="container login-mobile">
        <!-- <pre> {{ otpForm.value | json }} </pre> -->
        <div class="mb-4">
          <span class="p-float-label">
            <!-- <p-inputNumber mode="decimal" [useGrouping]="false" [maxlength]="6" formControlName="otp" (onInput)="validateOtp($event)" [format]="false" [allowEmpty]="true" id="otp"></p-inputNumber> -->
            <input input pInputText pKeyFilter="int" [maxlength]="6" formControlName="otp" (onInput)="validateOtp($event)" id="otp">
            <label htmlFor="otp">Enter OTP</label>
          </span>
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-login btn-block"> Submit OTP </button> <!--  [disabled]="btnOtp" -->
        </div>

        <div class="mt-3 text-center" *ngIf="otpSent">
          <span class="login-terms"> <button type="button" (click)="resendOtp()" class="btn btn-sm rounded-0 btn-danger w-100">Resend OTP</button> </span>
        </div>

        <div class="mt-3 text-center">
          <span class="login-terms"> By signing in you agree to our <a href="#" target="_blank">terms and conditions</a> </span>
        </div>



      </div>

    </form>

  </div>

</div>
