.pointer,
.clickable {
  cursor: pointer;
}

.pac-container {
  z-index: 9000;
}

.invalid-error {
  color: #f00;
  font-size: 13px;
  font-weight: 500;
}

.text-mred {
  color: #a61f24;
}

.btn-mred {
  --bs-btn-color: #fff;
  --bs-btn-bg: #a61f24;
  --bs-btn-border-color: #a61f24;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #8b1a1e;
  --bs-btn-hover-border-color: #8b1a1e;
  --bs-btn-focus-shadow-rgb: 225, 83, 97;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #a3090e;
  --bs-btn-active-border-color: #a3090e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #af363a;
  --bs-btn-disabled-border-color: #af363a;
}

// ng Select Loader ================================================================================================================
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.lds-ellipsis div {
  position: absolute;
  top: 14px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #c2c2c2;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: -9px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: -10px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 2px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 24px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.ng-select.is-invalid .ng-select-container {
  border-color: #f46a6a !important;
}

.ng-select.ng-select-disabled > .ng-select-container {
  background-color: #eff2f7 !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option.ng-option-selected.ng-option-marked,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: #ff6e73 !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  white-space: normal !important;
}

