.product-card {
  display: block;

  .pro-img {
    width: 100%;
  }

  .pro-category {
    color: #4d4d4d;
    font-size: 13px;
    font-weight: 400;
  }

  .pro-desc {

    .pro-title {

    }

    .pro-details {

      .pro-price {

      }

      .pro-action {

      }
    }
  }
}
