<div class="pro-card">
    <div class="ui-blocker" *ngIf="loading" fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
        <div>
            <i class="pi pi-spin pi-spinner"></i>
        </div>
    </div>

    <div class="pro-img" (click)="viewProduct(product)">
        <img [src]="product.imageUrl[0]" alt="" />
    </div>
    <span class="badge rounded-pill text-bg-danger me-1">{{ product.brand | titlecase }}</span>
    <span class="pro-category" *ngIf="showCategory" (click)="viewCat(product.categoryId)"> {{ product.categoryName | titlecase }} </span>
    <div class="pro-desc">
        <span class="pro-title" (click)="viewProduct(product)">
            {{ product.productName }}
        </span>
        <span class="pro-short-desc"> {{ product.description.substring(0, 35) }}... </span> <!-- tooltipPosition="top" [pTooltip]="product.description" -->
        <div class="pro-details">

            <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="start center">
                <div class="pro-unit">
                    {{ product.productUnit }} {{ product.productUnitType }}
                </div>
                <div class="pro-price">
                    <!-- <span>{{ product.discountPrice }}</span> &nbsp; -->
                    <span> {{ product.price | currency:'₹' }}</span>
                </div>
            </div>

            <div>
                <div class="pro-action">
                  <!-- [max]="product.maxQuantity" -->
                    <span *ngIf="product.stock <= 0" class="fw-bold px-2 py-1 text-white rounded-2 bg-danger">Out Of Stock</span>
                    <p-inputNumber [disabled]="disableAdd" *ngIf="product.cartProductQuantity > 0 && product.stock > 0"
                        [ngModel]="product.cartProductQuantity" [showButtons]="true" buttonLayout="horizontal"
                        inputId="cartProductCount" spinnerMode="horizontal" [step]="1" [min]="1"
                        [max]="product.maxQuantity" decrementButtonClass="btn-minus" [incrementButtonClass]="(product.cartProductQuantity == product.maxQuantity)?'btn-plus max': 'btn-plus'"
                        incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" mode="decimal"
                        (onInput)="cartNumber($event, product)"></p-inputNumber>
                    <button type="button" class="add-btn" (click)="addCart(product)"
                        *ngIf="product.cartProductQuantity == 0 && product.stock > 0">
                        <i class="pi pi-shopping-cart"></i> Add </button>
                </div>
            </div>

        </div>
    </div>
</div>
