<div class="cart-item">
  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
    <div>
      <span class="item-sn">{{itemNo+1}}</span>
    </div>
    <div fxLayout="column" fxFlex="auto" fxLayoutGap="12px">
      <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px">
        <div fxFlex="auto" class="item-name">{{cartItem.productName}}</div>
        <div fxFlex="20px" (click)="removeItem(cartItem.productId)" class="item-del"><i class="pi pi-times"></i></div>
      </div>
      <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px">
        <div fxFlex="auto">
          <span class="item-unit"> {{cartItem.unit}} {{ cartItem.unitType }} </span>
          <span class="item-price"> {{cartItem.totalPrice | currency: '₹'}} </span>
        </div>
        <div class="item-action">
          <p-inputNumber
            [disabled]="disableAdd"
            [ngModel]="cartItem.quantity"
            [showButtons]="true"
            buttonLayout="horizontal"
            inputId="cartProductCount"
            spinnerMode="horizontal"
            [step]="1"
            [min]="0"
            [max]="cartItem.maxQuantity"
            decrementButtonClass="btn-minus"
            incrementButtonClass="btn-plus"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"
            mode="decimal"
            (onInput)="cartNumber($event, cartItem, cartItem.cartId)"
        ></p-inputNumber>
        </div>
      </div>

    </div>


  </div>

</div>
