<page-loader [loading]="loading"></page-loader>

<div class="container py-3" *ngIf="!loading">

  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-11 col-lg-11">
      <div class="product-trails">
        <ul>
          <li> <a routerLink="/" class="pointer"> Home </a> </li>
          <li> <a [routerLink]="'/category/'+this.product.product_category.product_category_id"> {{ this.product.product_category.category | titlecase }} </a> </li>
          <li> {{ this.product.name | titlecase }} </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-10 col-lg-9">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-5 col-lg-4">
          <p-carousel [value]="this.product.image_url" [numVisible]="1" [numScroll]="1" [circular]="false"
            [showIndicators]="true" [showNavigators]="false">
            <ng-template let-image pTemplate="item">
              <img [src]="image.file_url" [alt]="this.product.name" class="w-100">
            </ng-template>
          </p-carousel>
        </div>
        <div class="col-12 col-sm-12 col-md-7 col-lg-8">
          <h1 class="product-title"> {{this.product.name}} </h1>
          <div class="mt-1">
            <span class="badge rounded-pill text-bg-danger me-1" *ngIf="product.brand">{{ this.product.brand.brand | titlecase }}</span>
            <span class="clickable text-secondary fw-bold" [routerLink]="'/category/'+this.product.product_category.product_category_id"> {{ product.product_category.category | titlecase }} </span>
          </div>
          <div class="seperator"></div>
          <p class="product-description" [innerText]="product.description">

          </p>
          <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <div class="pro-details">
              <div class="pro-price">
                <span class="pro-unit">
                  {{ product.unit }}&nbsp;{{ product.mc_unit.code }}
                </span>
                <span> {{ product.price.price | currency:'₹' }}</span>
              </div>
              <div class="pro-action">
                <span *ngIf="product.stock == 0" class="fw-bold px-2 py-1 text-white rounded-2 bg-danger">Out Of
                  Stock</span>
                <p-inputNumber [disabled]="disableAdd" *ngIf="product.cart_product_quantity > 0 && product.stock > 0" [ngModel]="product.cart_product_quantity"
                  [showButtons]="true" buttonLayout="horizontal" inputId="cartProductCount" spinnerMode="horizontal"
                  [step]="1" [min]="1" [max]="product.max_order_count" decrementButtonClass="btn-minus"
                  incrementButtonClass="btn-plus" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
                  mode="decimal" (onInput)="cartNumber($event, product)"></p-inputNumber>
                <button type="button" class="add-btn" (click)="addCart(product)"
                  *ngIf="product.cart_product_quantity == 0 && product.stock > 0"> <i class="pi pi-shopping-cart"></i> Add to cart </button>
              </div>
            </div>
          </div>
          <div class="seperator"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 justify-content-center" *ngIf="relatedProductsList.length > 0">
    <div class="col-12 col-md-11 col-lg-10">
      <div>
        <h4 class="fw-bold"> Related products </h4>
      </div>
      <div class="seperator"></div>
      <div class="row" style="overflow-x: scroll;" *ngIf="relatedProductsList.length < 3">
        <ng-container *ngFor="let product of relatedProductsList">
          <div class="col-12 col-sm-6 col-md-4">
            <product-card [product]="product"></product-card>
          </div>
        </ng-container>
      </div>

      <!-- <p-carousel *ngIf="relatedProductsList.length >= 3" [value]="relatedProductsList" [responsiveOptions]="responsiveOptions" [numVisible]="3" [numScroll]="1"
        [circular]="true" [showIndicators]="true" [autoplayInterval]="2500" [showNavigators]="false">
        <ng-template let-product pTemplate="item">
          <div class="rel-product">
            <product-card [product]="product"></product-card>
          </div>
        </ng-template>
      </p-carousel> -->

      <owl-carousel-o [options]="customOptions" *ngIf="relatedProductsList.length >= 3">
        <ng-template carouselSlide *ngFor="let product of relatedProductsList">
          <div class="mx-2">
            <product-card [product]="product"></product-card>
          </div>
        </ng-template>
      </owl-carousel-o>

    </div>
  </div>

</div>
