<page-loader [loading]="loading"></page-loader>

<div class="container py-3" *ngIf="!loading">

  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-11 col-lg-11">
      <div class="product-trails">
        <ul>
          <li> <a routerLink="/" class="pointer"> Home </a> </li>
          <li> <a [routerLink]="'/category/'+this.product.categoryId"> {{ this.product.categoryName }} </a> </li>
          <li> {{ this.product.productName }} </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-11 col-lg-11">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-4">
          <p-carousel [value]="this.product.imageUrl" [numVisible]="1" [numScroll]="1" [circular]="false" [showIndicators]="true" [showNavigators]="false">
            <ng-template let-image pTemplate="item">
              <img [src]="image" [alt]="this.product.productName" class="w-100">
            </ng-template>
          </p-carousel>
        </div>
        <div class="col-12 col-sm-12 col-md-8">
          <h1 class="product-title"> {{this.product.productName}} </h1>
          <div class="mt-1">
            <span class="badge rounded-pill text-bg-danger me-1">{{ this.product.brand | titlecase }}</span>
            <span class="clickable text-secondary fw-bold" [routerLink]="'/category/'+this.product.categoryId"> {{ product.categoryName | titlecase }} </span>
          </div>
          <div class="seperator"></div>
          <p class="product-description">
            {{ this.product.description }}
          </p>
          <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <div class="pro-details">
              <div class="pro-price">
                <span class="pro-unit">
                  {{ product.productUnit }}&nbsp;{{ product.productUnitType }}
                </span>
                <span> {{ product.price | currency:'₹' }}</span>
              </div>
              <div class="pro-action">
                <span *ngIf="product.stock == 0" class="fw-bold px-2 py-1 text-white rounded-2 bg-danger">Out Of Stock</span>
                <p-inputNumber
                    *ngIf="product.cartProductQuantity > 0"
                    [ngModel]="product.cartProductQuantity"
                    [showButtons]="true"
                    buttonLayout="horizontal"
                    inputId="cartProductCount"
                    spinnerMode="horizontal"
                    [step]="1"
                    [min]="0"
                    [max]="product.maxQuantity"
                    decrementButtonClass="btn-minus"
                    incrementButtonClass="btn-plus"
                    incrementButtonIcon="pi pi-plus"
                    decrementButtonIcon="pi pi-minus"
                    mode="decimal"
                    (onInput)="cartNumber($event, product)"
                ></p-inputNumber>
                <button type="button" class="add-btn" (click)="addCart(product)" *ngIf="product.cartProductQuantity == 0 && product.stock > 0"> <i class="pi pi-shopping-cart"></i> Add to cart </button>
              </div>
            </div>
          </div>
          <div class="seperator"></div>
        </div>
      </div>
    </div>
  </div>



  <!-- <div>
    <pre>
      {{this.product | json}}
    </pre>
  </div> -->

</div>
