<page-loader [loading]="loading"></page-loader>

<div class="container py-5" *ngIf="!loading">

  <div class="row justify-content-center">

    <div class="col-12 col-md-10" *ngIf="productList.length > 0">
      <div>
        <h4 class="fw-bold"> Search Results </h4>
        <p> Freshest meats and much more! </p>
      </div>
      <div class="row g-4">

        <div class="col-12 col-sm-8 col-md-6 col-lg-4" *ngFor="let product of productList; let i = index;">
          <!-- <div class="pro-card">
            <pre>
              {{product|json}}
            </pre>
          </div> -->

          <div class="pro-card">
            <div class="pro-img">
              <img [src]="product.imageUrl[0]" alt="" />
            </div>
            <span class="pro-category"> {{ product.categoryName | titlecase }} </span>
            <div class="pro-desc">
              <span class="pro-title">
                {{ product.productName }}
              </span>
              <span class="pro-short-desc" tooltipPosition="top" [pTooltip]="product.description"> {{ product.description.substring(0, 35) }}... </span>
              <div class="pro-details">
                <div class="pro-price">
                  <!-- <span>{{ product.discountPrice }}</span> &nbsp; -->
                  <span> {{ product.price }} </span>
                </div>
                <div class="pro-action">
                  <button type="button" (click)="addTocart(product)"> <i class="pi pi-shopping-cart"></i> Add </button>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="col-12 col-md-10" *ngIf="notFound">
      <not-found> </not-found>
    </div>

    <div class="col-12 col-md-10 py-5" *ngIf="productList.length == 0">
      <div>
        <h4 class="fw-bold"> Shop by categories </h4>
        <p> Freshest meats and much more! </p>
      </div>
      <div>
        <categories></categories>
      </div>
    </div>

  </div>
</div>
