<page-loader [loading]="loading"></page-loader>

<div class="container py-5" *ngIf="!loading">

  <div class="row justify-content-center">

    <div class="col-12 col-md-6 mb-3">
      <div class="p-input-icon-right w-100" >
        <i class="pi pi-search fw-bold text-dark"></i>
        <input type="text" class="form-control form-control" [(ngModel)]="this.filter.search" (keyup)="searchFn()" #searchInput placeholder="Search for any product" />
      </div>
    </div>

    <div class="col-12 col-md-10" *ngIf="productList.length > 0">
      <div>
        <h4 class="fw-bold"> Search Results </h4>
        <p> Freshest meats and much more! </p>
      </div>
      <div class="row g-4">

        <div class="col-12 col-sm-8 col-md-6 col-lg-4" *ngFor="let product of productList; let i = index;">
          <!-- <div class="pro-card">
            <pre>
              {{product|json}}
            </pre>
          </div> -->

          <product-card [product]="product" (loaded)="ngOnInit()"></product-card>

        </div>

      </div>
    </div>

    <div class="col-12 col-md-10" *ngIf="notFound">
      <not-found> </not-found>
    </div>

    <div class="col-12 col-md-10 py-5" *ngIf="productList.length == 0">
      <div>
        <h4 class="fw-bold"> Shop by categories </h4>
        <p> Freshest meats and much more! </p>
      </div>
      <div>
        <categories></categories>
      </div>
    </div>

  </div>
</div>
