<div class="top-bar">
  <div class="container">
    <div class="row align-items-center g-3">
      <div class="col-4 col-md-4 col-lg-3 col-xl-2 col-xxl-2">
        <a (click)="home()" class="d-inline-block clickable">
          <img src="assets/images/Logo.png" class="" alt="" style="max-width: 115px">
        </a>
      </div>
      <div class="col-8 col-md-4 col-lg-3 col-xl-2 col-xxl-2">
        <div *ngIf="!locationShow" class="text-md-start text-end">
          <span class="clickable text-black" (click)="openLocation()"> <i class="pi pi-map-marker" style="font-size: 15px"></i> Choose location</span>
          <!-- <button type="button"  class="btn btn-sm btn-outline-dark">Choose location</button> -->
        </div>
        <div class="clickable text-md-start text-end" (click)="openLocation()" *ngIf="locationShow"> <!--[ngbTooltip]="address" placement="bottom"-->
          <div class="loc-district">
            <i class="pi pi-map-marker" style="font-size: 15px"></i>
            <span class="fw-bold"> {{ district }} <i class="pi pi-angle-down" style="font-size: 12px"></i></span>
          </div>
          <div class="loc-address">
            {{ trimAddress(address) }}
            <!-- {{ address }} -->
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-3 col-xl-4 col-xxl-4">
        <div class="p-input-icon-right w-100" (click)="launchSearch()" *ngIf="disableSearch">
          <i class="pi pi-search fw-bold text-dark"></i>
          <input type="text" class="form-control form-control-sm clickable" #searchInput placeholder="Search for any product" style="background-color: #f0f0f0;" [readOnly]="true" />
        </div>
        <div class="p-input-icon-right w-100" *ngIf="!disableSearch">
          <i class="pi pi-search fw-bold text-dark"></i>
          <input type="text" class="form-control form-control-sm" [(ngModel)]="searchString" (keyup)="searchFn()" #searchInput placeholder="Search for any product" />
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-3 col-xl-4 col-xxl-4">
        <ul class="top-nav ">
          <li class="top-nav-item" #categoryMenuId>
            <a class="top-nav-link" (click)="catpanel.toggle($event)"> <i class="pi pi-clone"></i> Categories </a>
            <p-overlayPanel #catpanel [style]="{'width': '300px'}" [showCloseIcon]="true" appendTo="body">
              <ng-template pTemplate="content">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item clickable" *ngFor="let category of categories">
                    <div class="clickable" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" (click)="$event.stopPropagation();viewCategory(catpanel, category.categoryId)">
                      <img [src]="category.imageUrl" [alt]="category.categoryName" width="30px">
                      <span class="text-black fw-semibold"> {{ category.categoryName | titlecase }} </span>
                    </div>
                  </li>
                </ul>
              </ng-template>
            </p-overlayPanel>
          </li>
          <li class="top-nav-item" #profileMenuId>
            <a class="top-nav-link" *ngIf="!logggedIn" (click)="openLogin()"> <i class="pi pi-user"></i> Login </a>
            <a class="top-nav-link" *ngIf="logggedIn" (click)="profileMenu.toggle($event)"> <i class="pi pi-user"></i> Account </a>
            <p-menu #profileMenu appendTo="body" [model]="profileItems" [popup]="true"></p-menu>
          </li>
          <li class="top-nav-item" *ngIf="cartCount.count == 0" > <!--placement="bottom" ngbTooltip="Cart is empty"-->
            <a class="top-nav-link" pTooltip="Cart is empty" tooltipPosition="bottom"> <i class="pi pi-shopping-cart"></i> Cart </a>
          </li>
          <li class="top-nav-item" *ngIf="cartCount.count > 0">
            <a class="cart-total" (click)="openCart()">
              <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="12px">
                <div>
                  <i class="pi pi-shopping-cart"></i>
                </div>
                <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="5px">
                  <span class="item-count"> {{cartCount.count}} items </span>
                  <span class="item-total"> {{cartCount.total | currency: '₹'}} </span>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- ============================================================================================================================
cart sidebar
============================================================================================================================ -->

<ng-template #cartArea let-offcanvas>
	<div class="offcanvas-header">
    <span class="cart-close" (click)="closeCart()"> <i class="pi pi-times-circle"></i> </span>
		<h4 class="offcanvas-title">Order Summary</h4>
	</div>
	<div class="offcanvas-body p-2" style="position: relative;">
    <div *ngIf="cartCount.count == 0">
      No items in cart
    </div>
    <div *ngIf="cartCount.count > 0">
      <cart (close)="closeCart()" (login)="openLogin()"></cart>
    </div>
	</div>
</ng-template>

<ng-template #loginArea let-offcanvas class="login-side">

	<div class="offcanvas-body p-2"  fxLayout="column" fxLayoutAlign="space-between stretch" style="position: relative; background-image: url(../../../assets/images/chicken-pattern-single-5.jpg); background-repeat: repeat; background-size: 25%;">
    <div class="offcanvas-header">
      <span class="cart-close" (click)="closeLogin()"> <i class="pi pi-times-circle"></i> </span>
    </div>
    <div class="login-image">
      <img src="../../../assets/images/Logo.png" alt="" style="max-width: 150px;" class="d-block mb-5 mx-auto">
    </div>
    <login></login>
	</div>
</ng-template>

<ng-template #locationModal let-modal>
	<div class="p-3">
    <h5 class="fw-semibold text-black mb-0"> Enter your location to check service availability. </h5>
    <!-- <p class="text-start mb-0">
      <i class="fa-solid fa-circle-xmark fa-lg clickable" (click)="modal.dismiss()"></i>
    </p> -->
	</div>
  <div class="modal-body">
    <location (showAddress)="showAddress()"></location>
  </div>
</ng-template>

<ng-template #locationAllow role="document" let-modal>
  <div class="modal-body">
    <div class="text-center">
      <div class="alert alert-danger text-center" role="alert">
        Allow location permission in your browser.
      </div>
      <button type="button" (click)="closeBlocker()" class="btn btn-dark btn-sm px-3" id="btn-save-event"> Close
      </button>
    </div>
  </div>
</ng-template>

<ng-template #profileEdit let-modal>
	<div class="p-3 pb-0">
    <p class="text-end mb-0">
      <i class="fa-solid fa-circle-xmark fa-lg clickable" (click)="modal.dismiss()"></i>
    </p>
	</div>
  <div class="modal-body pt-0">
    <profile-edit (closeModel)="closeProfile()"></profile-edit>
  </div>
</ng-template>
