<page-loader [loading]="loading"></page-loader>


<div class="container pt-4" *ngIf="!loading">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10" *ngIf="banners.length > 0">
      <p-carousel #bannerCarousel [value]="banners" [numVisible]="1" [numScroll]="1" [circular]="true" [showIndicators]="false" [autoplayInterval]="3500" [showNavigators]="false">
        <ng-template let-banner pTemplate="item">
          <div class="banner-item">
            <div class="banner-item-content">
              <div class="mb-3">
                <img [src]="banner" class="banner-image" />
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>

<div class="container pb-5" *ngIf="!loading">

  <div class="row justify-content-center">

    <div class="col-12 col-md-10 py-5">
      <div>
        <h4 class="fw-bold"> Shop by categories </h4>
        <p> Freshest meats and much more! </p>
      </div>
      <div>
        <categories></categories>
      </div>
    </div>

    <!-- <div class="col-12 col-md-10 py-5">
      <div>
        <h4 class="fw-bold"> Find best deals </h4>
      </div>
      <div>
        <owl-carousel-o [options]="customOptions" *ngIf="promotionalAds.length >= 3">
          <ng-template carouselSlide *ngFor="let ad of promotionalAds">
            <div class="mx-2">
              <img class="banner-ad" [src]="ad.img" [alt]="ad.name">
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div> -->

  </div>
</div>
