<!-- <pre *ngIf="!loading">
  {{ data | json }}
</pre> -->


<page-loader [loading]="loading"></page-loader>

<div class="row g-3" *ngIf="!loading">

  <div class="col-12" *ngIf="!outOfStock">
    <div class="items-bill">
      <div class="bill-heading mb-3"> Do you have a coupon ? </div>
      <form (ngSubmit)="applyCoupon()" [formGroup]="couponForm">
        <div class="row g-2">
          <div class="col-12 col-sm-6 col-md-4">
            <div class="form-group" > <!--  (submit)="applyCoupon()" [formGroup]="couponForm"  formControlName="promoCode" [(ngModel)]="promoCode" -->
              <input type="text" name="promoCode" formControlName="promoCode" placeholder="Enter Coupon Code"
                class="form-control rounded-0" required/>
              <div *ngIf="submitted && couponFormControls['promoCode'].errors" class="invalid-error">
                <span *ngIf="couponFormControls['promoCode'].errors.required">Coupon Code is Required</span>
              </div>
              <div *ngIf="submitted && promoCode == null||''" class="invalid-error">
                <span *ngIf="promoCode == null||''">Coupon Code is Required</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-2"> <!-- (click)="applyCoupon()" -->
            <button type="submit"  class="btn btn-danger w-100 rounded-0"> Apply </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="col-12" *ngIf="outOfStock">
    <div class="alert alert-dark rounded-0 mb-0" role="alert">
      <span>Some of the products are not available for your shipping location please <strong class="clickable text-danger" [routerLink]="'/checkout/address'"> change the location </strong> or <strong class="clickable text-danger" [routerLink]="'/'">choose other products</strong> </span>
    </div>
  </div>

  <div class="col-12">
    <div class="items-bill">
      <div class="bill-heading mb-3"> Products </div>
      <div class="row g-3">
        <div class="col-12 col-md-6" *ngFor="let cartItem of orderSummary; let sn = index">
          <div class="cart-item ">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
              <div>
                <span class="item-sn">{{sn+1}}</span>
              </div>
              <div fxLayout="column" fxFlex="auto" fxLayoutGap="12px">
                <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px">
                  <div fxFlex="auto" class="item-name">{{cartItem.productName}}</div>
                </div>
                <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
                  <div fxFlex="auto">
                    <span class="item-unit"> {{cartItem.unit}}&nbsp;{{ cartItem.unitType }} </span>
                    <span class="fw-bold text-black"> x{{cartItem.quantity}} </span>
                  </div>
                  <div fxFlex="auto" fxLayoutAlign="end center">
                    <span *ngIf="cartItem.totalPrice == 0" class="fw-bold px-2 text-white rounded-2 bg-danger">Out Of Stock</span>
                    <span class="item-price" *ngIf="cartItem.totalPrice !== 0"> {{cartItem.totalPrice | currency: '₹'}} </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="items-bill" fxLayout="column" fxLayoutGap="20px" *ngIf="!loading">
      <div class="bill-heading"> Shipping Address </div>
      <div fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <span class="items-title"> Name: </span>
          <span class="items-price"> {{  shippingAddress.nickName | titlecase }} </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <span class="items-title"> Phone: </span>
          <span class="items-price"> {{  shippingAddress.number }} </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <span class="items-price"> {{ shippingAddress.area }}  </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <!-- <span class="items-price"> Street Name:  </span> -->
          <span class="items-price"> {{ shippingAddress.streetName }}, </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <!-- <span class="items-price"> Landmark: </span> -->
          <span class="items-price"> {{ shippingAddress.landMark }}, </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <span class="items-price"> {{ shippingAddress.city.name }}, {{ shippingAddress.state.name }} {{ shippingAddress.pincode }}  </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <span class="items-title"> Type: </span>
          <span class="items-price"> {{  ( (shippingAddress.type == 'other') ? (shippingAddress.others? shippingAddress.others:'-' ): shippingAddress.type ) | titlecase }} </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="items-bill" fxLayout="column" fxLayoutGap="20px" *ngIf="!loading">
      <div class="bill-heading"> Bill Details </div>
      <div fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span class="items-title"> Subtotal </span>
          <span class="items-price"> {{totalCartPrice | currency:'₹'}} </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="discountPrice !== 0">
          <span class="items-title"> Discount Price </span>
          <span class="items-price"> {{discountPrice | currency:'₹'}} </span>
        </div>
        <!-- <div fxLayout="row" fxLayoutAlign="space-between center" >
          <span class="items-title"> Delivery Charge </span>
          <span class="items-price"> {{deliveryCharge | currency:'₹'}} </span>
        </div> -->
        <div>
          <hr class="m-0">
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span class="items-grand-title"> Total </span>
          <span class="items-grand-total"> {{grandTotal | currency:'₹'}} </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="items-bill" fxLayout="column" fxLayoutGap="20px">
      <div class="bill-heading"> Payment Method </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="payment_method" id="cod" value="cash_on_delivery" [(ngModel)]="paymentMethod">
        <label class="form-check-label pay-opt" for="cod">
          <i class="fa-solid fa-money-bill-1-wave mx-2"></i> Cash On Delivery
        </label>
      </div>
      <div>
        <hr class="m-0">
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="payment_method" id="online" value="online_pay" [(ngModel)]="paymentMethod">
        <label class="form-check-label pay-opt" for="online">
          <i class="fa-solid fa-wifi mx-2"></i> Online
        </label>
      </div>
    </div>
  </div>

  <div class="col-12 text-end">
    <span class="text-secondary fw-semibold clickable me-2" [routerLink]="'/checkout/address'"> Change Address </span>
    <button type="button" class="btn btn-danger rounded-0" *ngIf="outOfStock" [routerLink]="'/'"> Browse Store </button>
    <button type="button" class="btn btn-danger rounded-0" *ngIf="!outOfStock" (click)="checkout()"> Place Order </button>
  </div>

</div>
