<!-- <pre *ngIf="!loading">
  {{ data | json }}
</pre> -->


<page-loader [loading]="loading"></page-loader>

<div class="row g-3" *ngIf="!loading">

  <div class="col-12">
    <div class="items-bill">
      <div class="bill-heading mb-3"> Do you have a coupon ? </div>
      <form (ngSubmit)="applyCoupon()" [formGroup]="couponForm">
        <div class="row g-2">
          <div class="col-12 col-sm-6 col-md-4">
            <div class="form-group" > <!--  (submit)="applyCoupon()" [formGroup]="couponForm"  formControlName="promoCode" [(ngModel)]="promoCode" -->
              <input type="text" name="promoCode" formControlName="promoCode" placeholder="Enter Coupon Code"
                class="form-control rounded-0" required/>
              <div *ngIf="submitted && couponFormControls['promoCode'].errors" class="invalid-error">
                <span *ngIf="couponFormControls['promoCode'].errors.required">Coupon Code is Required</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-2"> <!-- (click)="applyCoupon()" -->
            <button type="submit"  class="btn btn-danger w-100 rounded-0"> Apply </button>
          </div>
          <div class="col-12" *ngIf="promoCode !== ''">
            <span class="promo-chip"> {{ promoCode }}
              <span (click)="removePromo()" class="close-btn"> <i class="fas fa-times-circle fa-lg text-danger"></i> </span> </span>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="col-12" *ngIf="outOfStock">
    <div class="alert alert-dark rounded-0 mb-0" role="alert">
      <span>Some of the products are not available for your shipping location please <strong class="clickable text-danger" [routerLink]="'/checkout/address'"> change the location </strong> or <strong class="clickable text-danger" [routerLink]="'/'">choose other products</strong> </span>
    </div>
  </div>

  <div class="col-12">
    <div class="items-bill">
      <div class="bill-heading mb-3"> Products </div>
      <div class="row g-3">
        <div class="col-12 col-md-6" *ngFor="let cartItem of orderSummary; let sn = index">
          <div class="cart-item ">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
              <div>
                <span class="item-sn">{{sn+1}}</span>
              </div>
              <div fxLayout="column" fxFlex="auto" fxLayoutGap="12px">
                <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px">
                  <div fxFlex="auto" class="item-name">{{cartItem.product.name}}</div>
                </div>
                <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
                  <div fxFlex="auto">
                    <span class="item-unit"> {{cartItem.product.unit}}&nbsp;{{ cartItem.product.mc_unit.code }} </span>
                    <span class="fw-bold text-black"> x{{cartItem.quantity}} </span>
                  </div>
                  <div fxFlex="auto" fxLayoutAlign="end center">
                    <span *ngIf="cartItem.stock == 0" class="fw-bold px-2 text-white rounded-2 bg-danger">Out Of Stock</span>
                    <span class="item-price" *ngIf="cartItem.total_price !== 0 "> {{cartItem.total_price | currency: '₹'}} </span><!-- && cartItem.stock != 0 -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="items-bill" fxLayout="column" fxLayoutGap="20px" *ngIf="!loading">
      <div class="bill-heading"> Shipping Address </div>
      <div fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <span class="items-title"> Name: </span>
          <span class="items-price"> {{  shippingAddress.nick_name | titlecase }} </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <span class="items-title"> Phone: </span>
          <span class="items-price"> {{  shippingAddress.number }} </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <span class="items-price"> {{ shippingAddress.area }}  </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <!-- <span class="items-price"> Street Name:  </span> -->
          <span class="items-price"> {{ shippingAddress.street_name }}, </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <!-- <span class="items-price"> Landmark: </span> -->
          <span class="items-price"> {{ shippingAddress.landmark }}, </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <span class="items-price"> {{ shippingAddress.city }}, {{ shippingAddress.district.district }}, {{ shippingAddress.state.state }} {{ shippingAddress.pincode }}  </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <span class="items-title"> Type: </span>
          <span class="items-price"> {{  ( (shippingAddress.type == 'other') ? (shippingAddress.others? shippingAddress.others:'-' ): shippingAddress.type ) | titlecase }} </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="items-bill" fxLayout="column"  fxLayoutGap="20px" *ngIf="!loading">
      <div class="bill-heading"> Choose date and time slot </div>

      <div fxLayout="column" fxLayoutGap="15px">

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" >
          <input type="radio" class="btn-check" name="schDate" id="schDate1" [(ngModel)]="selectedDate" autocomplete="off" value="today" *ngIf="currectDate.getHours() < 19">
          <label class="btn btn-sm btn-outline-danger rounded-0 fw-bold" for="schDate1" *ngIf="currectDate.getHours() < 19"> {{ currectDate | date }} </label>

          <input type="radio" class="btn-check" name="schDate" id="schDate2" [(ngModel)]="selectedDate" autocomplete="off" value="tomorrow">
          <label class="btn btn-sm btn-outline-danger rounded-0 fw-bold" for="schDate2"> {{ tomorrowDate | date }} </label>
        </div>

        <div>
          <!-- <pre>{{currectDate.toISOString().slice(0,10)}}</pre>
          <pre>{{deliverySlot | json}}</pre> -->
          <hr class="m-0">
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" *ngIf="selectedDate == 'today'">
          <input type="radio" class="btn-check" name="currentDate" id="currectDate1" autocomplete="off" *ngIf="currectDate.getHours() < 10"
          [checked]="currectDate.getHours() >= 8 && currectDate.getHours() < 10" (click)="selectedSlot(currectDate, '08:00:00', '10:00:00')">
          <label class="btn btn-sm btn-outline-dark rounded-0 fw-bold" for="currectDate1" *ngIf="currectDate.getHours() < 10"> 08:00 to 10:00 </label>

          <input type="radio" class="btn-check" name="currentDate" id="currectDate2" autocomplete="off" *ngIf="currectDate.getHours() < 12"
          [checked]="currectDate.getHours() >= 10 && currectDate.getHours() < 12" (click)="selectedSlot(currectDate, '10:00:00', '12:00:00')">
          <label class="btn btn-sm btn-outline-dark rounded-0 fw-bold" for="currectDate2" *ngIf="currectDate.getHours() < 12"> 10:00 to 12:00 </label>

          <input type="radio" class="btn-check" name="currentDate" id="currectDate3" autocomplete="off" *ngIf="currectDate.getHours() < 14"
          [checked]="currectDate.getHours() >= 12 && currectDate.getHours() < 14" (click)="selectedSlot(currectDate, '12:00:00', '14:00:00')">
          <label class="btn btn-sm btn-outline-dark rounded-0 fw-bold" for="currectDate3" *ngIf="currectDate.getHours() < 14"> 12:00 to 14:00 </label>

          <input type="radio" class="btn-check" name="currentDate" id="currectDate4" autocomplete="off" *ngIf="currectDate.getHours() < 16"
          [checked]="currectDate.getHours() >= 14 && currectDate.getHours() < 16" (click)="selectedSlot(currectDate, '14:00:00', '16:00:00')">
          <label class="btn btn-sm btn-outline-dark rounded-0 fw-bold" for="currectDate4" *ngIf="currectDate.getHours() < 16"> 14:00 to 16:00 </label>

          <input type="radio" class="btn-check" name="currentDate" id="currectDate5" autocomplete="off" *ngIf="currectDate.getHours() < 19"
          [checked]="currectDate.getHours() >= 16 && currectDate.getHours() < 19" (click)="selectedSlot(currectDate, '16:00:00', '19:00:00')">
          <label class="btn btn-sm btn-outline-dark rounded-0 fw-bold" for="currectDate5" *ngIf="currectDate.getHours() < 19"> 16:00 to 19:00 </label>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" *ngIf="selectedDate == 'tomorrow'">
          <input type="radio" class="btn-check" name="tomorrow" id="tomorrow1" autocomplete="off" [checked]="currectDate.getHours() > 19" (click)="selectedSlot(tomorrowDate, '08:00:00', '10:00:00')">
          <label class="btn btn-sm btn-outline-dark rounded-0 fw-bold" for="tomorrow1"> 08:00 to 10:00 </label>

          <input type="radio" class="btn-check" name="tomorrow" id="tomorrow2" autocomplete="off" (click)="selectedSlot(tomorrowDate, '10:00:00', '12:00:00')">
          <label class="btn btn-sm btn-outline-dark rounded-0 fw-bold" for="tomorrow2"> 10:00 to 12:00 </label>

          <input type="radio" class="btn-check" name="tomorrow" id="tomorrow3" autocomplete="off" (click)="selectedSlot(tomorrowDate, '12:00:00', '14:00:00')">
          <label class="btn btn-sm btn-outline-dark rounded-0 fw-bold" for="tomorrow3"> 12:00 to 14:00 </label>

          <input type="radio" class="btn-check" name="tomorrow" id="tomorrow4" autocomplete="off" (click)="selectedSlot(tomorrowDate, '14:00:00', '16:00:00')">
          <label class="btn btn-sm btn-outline-dark rounded-0 fw-bold" for="tomorrow4"> 14:00 to 16:00 </label>

          <input type="radio" class="btn-check" name="tomorrow" id="tomorrow5" autocomplete="off" (click)="selectedSlot(tomorrowDate, '16:00:00', '19:00:00')">
          <label class="btn btn-sm btn-outline-dark rounded-0 fw-bold" for="tomorrow5"> 16:00 to 19:00 </label>
        </div>

      </div>

    </div>
  </div>

  <div class="col-12">
    <div class="items-bill" fxLayout="column" fxLayoutGap="20px" *ngIf="!loading">
      <div class="bill-heading"> Bill Details </div>
      <div fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span class="items-title"> Subtotal </span>
          <span class="items-price"> {{totalCartPrice | currency:'₹'}} </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="discountPrice !== 0">
          <span class="items-title"> Discount Price </span>
          <span class="items-price"> {{discountPrice | currency:'₹'}} </span>
        </div>
        <!-- <div fxLayout="row" fxLayoutAlign="space-between center" >
          <span class="items-title"> Delivery Charge </span>
          <span class="items-price"> {{deliveryCharge | currency:'₹'}} </span>
        </div> -->
        <div>
          <hr class="m-0">
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span class="items-grand-title"> Total </span>
          <span class="items-grand-total"> {{grandTotal | currency:'₹'}} </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="items-bill" fxLayout="column" fxLayoutGap="20px">
      <div class="bill-heading"> Payment Method </div>
      <div class="form-check" style="align-items: center;display: flex;gap: 15px;">
        <input class="form-check-input" type="radio" name="payment_method" id="cod" value="cash_on_delivery" [(ngModel)]="paymentMethod">
        <label class="form-check-label pay-opt" for="cod">
          <!-- <i class="fa-solid fa-money-bill-1-wave mx-2"></i> -->
          <img src="../../../../assets/images/cod.png" class="mx-2 d-inline-block" style="max-width: 50px;" alt="COD">  Cash On Delivery
        </label>
      </div>
      <!-- <div>
        <hr class="m-0">
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="payment_method" id="online" value="online_pay" [(ngModel)]="paymentMethod">
        <label class="form-check-label pay-opt" for="online">
          <i class="fa-solid fa-wifi mx-2"></i> Online
        </label>
      </div> -->
    </div>
  </div>

  <div class="col-12 text-end">
    <span class="text-secondary fw-semibold clickable me-2" [routerLink]="'/checkout/address'"> Change Address </span>
    <!-- <button type="button" class="btn btn-danger rounded-0" *ngIf="outOfStock" [routerLink]="'/'"> Browse Store </button> -->
    <button type="button" class="btn btn-danger rounded-0" (click)="checkout()" [disabled]="placeOrderBtn"> Place Order </button>
  </div>

</div>
