<div class="container py-3 px-4">

  <div class="row justify-content-center">
    <div class="col-md-12 col-12">
      <div class="product-trails">
        <ul>
          <li> <a routerLink="/" class="pointer"> Home </a> </li>
          <li> Privacy Policy </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-12 col-12">

      <div class="card-title mb-4">
        <h3 class="h3 fw-bold text-black"> 1. What Personal Data We Collect? </h3>
      </div>

      <div class="mb-5">

        <div class="row">

          <div class="col-12 col-md-12 col-lg-12">

            <div class="card p-3 mb-3 shadow-sm">
              <div class="card-title mb-2">
                <h5 class="h5 fw-bold text-black"> 1.1 Information </h5>
              </div>
              <div class="fw-semibold text-black">
                <p> When you place an order, we collect and sometimes store basic information such as your name, email
                  and delivery address(es), a contact telephone number and your user name and password. </p>
                <p class="mb-0"> We may also receive and store certain information automatically from your computer, such as your IP
                  address, browser type and other computer and connection information, the time that you logged on and
                  off our website and what items you searched for or viewed. </p>
              </div>
            </div>

            <div class="card p-3 mb-3 shadow-sm">
              <div class="card-title mb-2">
                <h5 class="h5 fw-bold text-black"> 1.2 Use of cookies </h5>
              </div>
              <div class="fw-semibold text-black">
                <p> As with many websites, we use cookies to enhance your shopping experience. We need to use certain
                  cookies to identify you on our website and allow you to use the basket facility and to place orders.
                </p>
                <p class="mb-0"> We also use a cookie to identify you the next time you visit, which assists us greatly in providing
                  you with a superior service. If you would prefer, however, you can refuse to accept this type of
                  cookie or delete them following your visit to our website. please see the ‘help’ section of your
                  browser. </p>
              </div>
            </div>

            <div class="card p-3 mb-3 shadow-sm">
              <div class="card-title mb-2">
                <h5 class="h5 fw-bold text-black"> 2. How Do We Use Your Information? </h5>
              </div>
              <div class="fw-semibold text-black">
                <p> We use the personal data you provide to process your order, including passing on your telephone
                  number to the Delivery, and to contact you if there are any problems. </p>
                <p> You may also choose to receive certain emails, promotions or other information from us but can opt
                  in or out of this at any time. </p>
                <p class="mb-0"> We may use your information for market research or customer profiling and to display certain content
                  on the website, such as your favourite items or new products that we think may be of interest to you.
                </p>
              </div>
            </div>

            <div class="card p-3 mb-3 shadow-sm">
              <div class="card-title mb-2">
                <h5 class="h5 fw-bold text-black"> 3. Security Of Your Information </h5>
              </div>
              <div class="fw-semibold text-black">
                <p> We use secure server software to encrypt all of the data you send to us to minimise the risk that
                  the information you send is intercepted before it reaches us and have strict security measures to
                  protect the information that we store from any unauthorised access. </p>
                <p class="mb-0"> All your payment card details are also encrypted using Secure Sockets Layer (SSL). We do not store
                  your payment card details. </p>
              </div>
            </div>

            <div class="card p-3 mb-3 shadow-sm">
              <div class="card-title mb-2">
                <h5 class="h5 fw-bold text-black"> 4. To Whom Do We Disclose Your Information? </h5>
              </div>
              <div class="fw-semibold text-black">
                <p> Payment card details are sent straight to our banking partners and are not received by us. </p>
                <p> Your information may be shared with trusted third parties whom we believe may be of interest to you.
                  You must advise us if you would prefer that your information is not used in this way by checking the
                  relevant box during the order process. </p>
                <p class="mb-0"> We may disclose your personal data when reasonably necessary in order to comply with any applicable
                  laws, regulations or codes of conduct or when required to do so by any competent authority or to
                  protect our rights of those of our customers. </p>
              </div>
            </div>

            <div class="card p-3 mb-3 shadow-sm">
              <div class="card-title mb-2">
                <h5 class="h5 fw-bold text-black"> 5. General </h5>
              </div>
              <div class="fw-semibold text-black">
                <p> Your use of our website signifies your consent to our collecting and handling of your personal data
                  for the purposes set out in this statement. </p>
                <p class="mb-0"> It is important that you protect your data and to minimise the risk of any unauthorised access to
                  your account with us: please be sure to log off when you finish using a shared computer. </p>
                <p> You may contact us at any time if you are unsure about any of the information we have. </p>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>


</div>
