<page-loader [loading]="loading"></page-loader>

<div class="row mb-3 justify-content-center" *ngIf="!loading && !edit">
  <div class="col-12 col-md-10 text-center">
    <button type="button" (click)="addNewAddres()" class="add-address-button"> <i class="fa-solid fa-plus fa-xs"></i>
      Add New Address </button>
  </div>
</div>

<!-- <pre> {{ this.address | json }} </pre> -->

<div class="row justify-content-center" *ngIf="!loading && !edit">
  <div class="col-12 col-md-11 ">

    <div class="address-card" *ngFor="let address of address">
      <div class="form-check" >
        <input class="form-check-input" type="radio" name="selectAddress" [id]="address.addressId" (change)="onSelect($event)"
          [(ngModel)]="selectedId" [value]="address.addressId" />
      </div>
      <!-- <label [for]="address.addressId" style="width: 100%;"> -->
        <address-card (editAddress)="addressEdit(address)" (removeAddress)="deleteAddress($event)" [address]="address" style="width: 100%;"></address-card>
      <!-- </label> -->
    </div>

    <div class="row justify-content-center" *ngIf="!loading && this.selectedId != '' && this.address.length != 0">
      <div class="col-12 col-md-12 text-end">
        <button type="button" (click)="goToSummary()" class="btn btn-danger rounded-0"> Proceed to checkout </button>
      </div>
    </div>

  </div>
</div>

<div class="row justify-content-center" *ngIf="!loading && edit">
  <div class="col-12 col-md-11">
    <change-address  [address]="selectedAddress" [edit]="adEdit" (backToList)="edit = false; getAddress();"></change-address>
  </div>
</div>



<div class="row justify-content-center" *ngIf="!loading && this.address.length == 0 && !edit">
  <div class="col-12 col-md-8">
    <div class="alert alert-secondary text-center" role="alert">
      No address found!
    </div>
  </div>
</div>


