::ng-deep {

  .p-dropdown {
    display: flex !important;
    height: 38px;
    border-radius: 0.375rem;

    &:not(.p-disabled).p-focus {
      box-shadow: 0 0 0 !important;
      border-color: #000 !important;
    }

    &:not(.p-disabled):hover {
      border-color: #000;
    }
  }

}

.ui-blocker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.8);

  .pi {
    font-size: 50px;
    color: rgb(220, 33, 41);
  }
}
