<page-loader [loading]="loading"></page-loader>

<div class="container py-3 px-4">

  <div class="row justify-content-center">
    <div class="col-md-10 col-12">
      <div class="product-trails">
        <ul>
          <li> <a routerLink="/" class="pointer"> Home </a> </li>
          <li> Contact Us </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-10 col-12">

      <div class="px-4 py-4 mb-5 shadow">
        <google-map height="350px" width="100%" [center]="mapMarker" [zoom]="zoom" (mapClick)="moveMap($event)">
          <map-marker *ngIf="mapMarker" [position]="mapMarker" (mapClick)="moveMap($event)" [options]="markerOptions"></map-marker>
        </google-map>
      </div>

      <form [formGroup]="contactForm" (ngSubmit)="contactFormSubmit()">
        <div class="px-4 py-4 mb-5 shadow">

          <div class="card-body">

            <div class="row g-4">

              <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <h5 class="text-mred fw-bold h5 mb-0 mt-3"> Sri Annapoorna Agro Industries </h5>
                <div class="seperator"></div>
                <div>
                  <h5 class="h5 text-black-50 fw-bold"> Registered Office </h5>
                  <div class="row g-0">
                    <div class="col-1">
                      <p class="text-dark">
                        <i class="fas fa-map-marker-alt fa-lg"></i>
                      </p>
                    </div>
                    <div class="col-11">
                      <p class="text-dark">
                        8/8, V.Ramaseseapuram, <br>
                        Perumal Kovilmedu, <br>
                        Namakkal, Tamil Nadu, <br>
                        Pin code - 637014.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="seperator"></div>
                <div>
                  <h5 class="h5 text-black-50 fw-bold"> Branch </h5>
                  <div class="row g-0">
                    <div class="col-1">
                      <p class="text-dark">
                        <i class="fas fa-map-marker-alt fa-lg"></i>
                      </p>
                    </div>
                    <div class="col-11">
                      <p class="text-dark">
                        #4/ 27, First Floor<br>
                        VW Complex, Salem Road,<br>
                        Namakkal - 637 001, Tamilnadu.
                      </p>
                    </div>
                  </div>

                  <div class="row g-0 mb-2 align-items-center">
                    <div class="col-1">
                      <span class="text-black-50">
                        <i class="fas fa-phone"></i>
                      </span>
                    </div>
                    <div class="col-11">
                      <span class="text-dark">
                        +91 73958 30836
                      </span>
                    </div>
                  </div>

                  <div class="row g-0 mb-2 align-items-center">
                    <div class="col-1">
                      <span class="text-black-50">
                        <i class="fas fa-envelope"></i>
                      </span>
                    </div>
                    <div class="col-11">
                      <span class="text-dark">
                        vendors@monsterchicken.in
                      </span>
                    </div>
                  </div>

                  <div class="row g-0 mb-2 align-items-center">
                    <div class="col-1">
                      <span class="text-black-50">
                        <i class="fas fa-envelope"></i>
                      </span>
                    </div>
                    <div class="col-11">
                      <span class="text-dark">
                        sales@monsterchicken.in
                      </span>
                    </div>
                  </div>

                  <div class="row g-0 mb-2 align-items-center">
                    <div class="col-1">
                      <span class="text-black-50">
                        <i class="fas fa-envelope"></i>
                      </span>
                    </div>
                    <div class="col-11">
                      <span class="text-dark">
                        customercare@monsterchicken.in
                      </span>
                    </div>
                  </div>

                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                <div class="card-title mb-4">
                  <span class="h4 fw-bold text-black"> Contact us for any Queries </span>
                  <!-- <p class="text-black-50 fw-semibold"> Monster chicken is launching Broiler chicken, frozen chicken and Egg
                    sales outlets all over india. If you have the dream of launching a successful chicken shop of your own.
                    Monster chicken is there with you.</p> -->
                </div>

                <div class="card-title mb-3">
                  <span class="fw-bold text-black-50">Fill out your details in the form below and we will get in touch
                    within 48 hours</span>
                </div>
                <div class="row g-2">

                  <div class="col-sm-6 col-md-6 col-12 my-2">
                    <label class="fw-bold red-heading fs-6">Name*</label>
                    <div>
                      <input type="text" formControlName="name" class="form-control rounded-2 bulk-input" />
                      <div class="text-danger ms-1" *ngIf="form['name'].errors?.pattern">Only alphabets and space allowed</div>
                      <div class="text-danger ms-1" *ngIf="submitted && form['name'].errors">Name is Invalid</div>
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-6 col-12 my-2">
                    <label class="fw-bold red-heading fs-6">Email Id*</label>
                    <div>
                      <input type="email" formControlName="email" class="form-control rounded-2 bulk-input" required />
                      <div class="text-danger ms-1" *ngIf="submitted && form['email'].errors">Email Id is Invalid</div>
                      <div class="text-danger ms-1" *ngIf="form['email'].errors?.pattern">Mail should contain only (a-z), (0-9) and "."</div>
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-6 col-12 my-2">
                    <label class="fw-bold red-heading fs-6">Phone Number*</label>
                    <div>
                      <input type="text" formControlName="number" pKeyFilter="int" maxlength="10"
                        class="form-control rounded-2 bulk-input" />
                      <div class="text-danger ms-1" *ngIf="submitted && form['number'].errors">Phone Number is Invalid</div>
                      <div class="text-danger ms-1" *ngIf="form['number'].errors?.pattern">Must start with 6 to 9 and must be 10 digits</div>
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-6 col-12 my-2">
                    <label class="fw-bold red-heading fs-6">Company</label>
                    <div>
                      <input type="text" formControlName="company" class="form-control rounded-2 bulk-input" />
                      <div class="text-danger ms-1" *ngIf="form['company'].errors?.pattern">Only alphabets, numbers and space allowed</div>
                      <div class="text-danger ms-1" *ngIf="submitted && form['company'].errors">Company is Invalid</div>
                    </div>
                  </div>


                  <div class="col-12 my-2">
                    <label class="fw-bold red-heading fs-6">Message</label>
                    <div>
                      <textarea type="text" formControlName="message" class="form-control rounded-2 bulk-text"
                        rows="3"></textarea>
                      <small class="text-danger ms-1" *ngIf="submitted && form['message'].errors">Message is
                        Invalid</small>
                    </div>
                  </div>

                  <div class="col-12 text-center">
                    <button type="submit" class="btn btn-mred w-100 mt-3 px-5 rounded-0 py-3 btn-lg"> Submit </button>
                  </div>

                </div>
              </div>

            </div>



          </div>

        </div>
      </form>



    </div>
  </div>

</div>
