<div class="container py-3 px-4">

  <div class="row justify-content-center">
    <div class="col-md-12 col-12">
      <div class="product-trails">
        <ul>
          <li> <a routerLink="/" class="pointer"> Home </a> </li>
          <li> About Us </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="row justify-content-center">
    <div class="col-md-12 col-12">
      <div class="mb-5">

        <div class="row">

          <div class="col-12 col-md-12 col-lg-6">
            <img src="assets/images/about-infographic.png" alt="About Us" class="my-3 img-fluid">
          </div>

          <div class="col-12 col-md-12 col-lg-6">
            <h3 class="h3 fw-bold text-mred"> Sri Annapoorna Agro Industries </h3>
            <img src="assets/images/footer-menu-border.png" alt="---------" class="my-3">
            <div class="fw-semibold text-black">
              <p>Protiens is very important for body growth, energy and have essential amino acids.</p>
              <p>Animal protien is we can take large quantity as per our body requirement. Comparatively vegetable
                protiens. It will give energy for daily activities and tissue growth.</p>
              <p>Among animal protiens poultry chicken is economically cheaper price and freshly available any time and
                place india is highly populated country and availability of quality, fresh and economically lower price
                for all class of people to buy.</p>
              <p>today commercial poultry of boiler chicken and egg is increase day by day according to consumption and
                availability easily for large population all the time.</p>
              <p>so it is busy need to aware while buying quality, hygienic and economic price all over the places in
                india at any time with compromising the quality of chicken and egg.</p>
              <p>so we CUCU chicken save to people premium chicken and egg eith consciously buyer from broiler
                integrators and layer farms all over india.</p>
              <p>we constantly monitoring our supplies farmer quality and hygenic growth of birds feed with good raw
                materials according for table for them birds genetic.</p>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>


</div>
