<div class="a-card">
  <!-- <pre>
    {{address | json }}
  </pre> -->

  <p class="area"> {{ address.area }} </p>

  <b *ngIf="address.nick_name"> {{address.nick_name}} </b>
  <div class="street"> <b>Street:</b> {{ address.street_name }} </div>
  <div class="street"> <b>Landmark:</b> {{ address.landmark }} </div>
  <div class="street"> {{address.district?.district}}, {{address.state?.state}} {{address.pincode}} </div>

  <div class="actions" fxLayout="row" fxLayoutAlign="space-between center">
    <!-- <div fxLayout="row" fxLayoutGap="15px">


    </div> -->
    <div> <b class="text-mred clickable" (click)="edit($event, address)">  <i class="fa-regular fa-pen-to-square"></i> Edit </b> </div>

    <div> <b class="text-mred clickable" (click)="deleteAddress($event, address)">  <i class="fa-regular fa-trash-can"></i> Delete </b> </div>

    <!-- <div> <b class="text-mred clickable" (click)="makeDefault(address)"> <i class="fa-solid fa-house-user"></i> Make Default </b> </div> -->

  </div>
</div>
