<page-loader [loading]="loading"></page-loader>

<div class="container py-3 px-4">
  <div class="row justify-content-center">
    <div class="col-md-8 col-12">
    <form [formGroup]="bulkOrderForm" (ngSubmit)="bulkOrderSubmit()">
        <div class="px-4 py-4 my-5 shadow">
          <div class="card-title h4 fw-bold text-dark">
            CONTACT US FOR BULK ORDERS
          </div>
          <div class="card-body">
            <div class="row g-2">

              <!-- <div class="col-12">
                <pre>
                  {{ bulkOrderForm.value | json }}
                </pre>
              </div> -->

              <div class="col-12">
                <div class="text-end">
                  <button type="button" class="btn btn-danger px-3" (click)="add()">Add product</button>
                </div>
              </div>
              <div class="col-12 my-2" formArrayName="productData" >
                <div *ngFor="let productForm of productFormArray.controls; let productDataFormGroupIndex = index" >

                  <bulk-order-product [productForm]="getFormGroup(productForm)" [categoryOptions]="categoryOptions" [index]="productDataFormGroupIndex" [submitted]="submitted" (delete)="delete(productDataFormGroupIndex)"></bulk-order-product>

                  <!-- <div class="col-12 col-md-4">
                    <p-dropdown [options]="categoryOptions" optionValue="categoryId" optionLabel="categoryName"
                      [required]="true" formControlName="category" [filter]="true" filterBy="categoryName" [showClear]="false"
                      placeholder="Select a Category" emptyMessage="No categories found" (onChange)="optionsProduct($event)"></p-dropdown>
                    <div>
                      <small class="text-danger ms-1" *ngIf="submitted && getFormGroup(productForm).controls['category'].errors">Category is required.</small>
                    </div>
                  </div>

                  <div class="col-12 col-md-5">
                    <p-dropdown [options]="productOptions" [readonly]="!productForm.value.category" optionValue="product_id"
                      optionLabel="product_name" [required]="true" formControlName="id" [filter]="true" filterBy="product_name" [showClear]="false"
                      placeholder="Select a Product" emptyMessage="No products found" [group]="true">

                      <ng-template let-group pTemplate="group">
                        <div>
                            <span>{{ group.label }}</span>
                        </div>
                    </ng-template>

                    </p-dropdown>

                    <div>
                      <small class="text-danger ms-1" *ngIf="submitted && getFormGroup(productForm).controls['id'].errors">Product is required.</small>
                    </div>
                  </div>
                  <div class="col-12 col-md-2">
                    <input type="number" formControlName="quantity" (keypress)="keyPressNumbers($event)"
                      class="form-control rounded-2 bulk-input" placeholder="Quantity" [required]="true"/>
                      <div>
                        <small class="text-danger ms-1" *ngIf="submitted && getFormGroup(productForm).controls['quantity'].errors">Quantity is required.</small>
                      </div>
                  </div>
                  <div class="col-12 col-md-1 text-end">
                    <button type="button" class="btn btn-outline-danger px-3" (click)="delete(productDataFormGroupIndex)"> <i class="fa-regular fa-circle-xmark"></i> </button>
                  </div> -->

                </div>
              </div>

              <div class="col-12">
                <hr>
              </div>

              <div class="col-sm-6 col-12 my-2">
                <div>
                  <label class="h5 fw-bold red-heading fs-6">State*</label>
                  <p-dropdown [options]="states" optionValue="value" optionLabel="name"
                      [required]="true" formControlName="state" [filter]="true" filterBy="name" [showClear]="false"
                      placeholder="Select a State" (onChange)="getDistricts($event)"></p-dropdown>

                  <!-- <ng-select [items]="states" bindLabel="name" bindValue="value" name="name"
                      formControlName="state" #selectState [virtualScroll]="true" [loading]="prLoading"
                      [ngClass]="{ 'is-invalid': submitted && form['state'].errors }"
                      appendTo="body" placeholder="Select State" [readonly]="false" (change)="getDistricts($event)" >
                      <ng-template ng-loadingspinner-tmp>
                        <div class="lds-ellipsis">
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                        </div>
                      </ng-template>
                    </ng-select> -->
                    <div>
                      <small class="text-danger ms-1" *ngIf="submitted && form['state'].errors"> State required </small>
                    </div>
                </div>
              </div>
              <div class="col-sm-6 col-12 my-2">
                <div>
                  <label class="h5 fw-bold red-heading fs-6">District*</label>
                  <p-dropdown [options]="districts" optionValue="value" optionLabel="name"
                      [required]="true" formControlName="district" [filter]="true" filterBy="name" [showClear]="false"
                      placeholder="Select a District" [readonly]="!form['state'].value" (onChange)="getCity($event)"></p-dropdown>

                  <!-- <ng-select [items]="districts" bindLabel="name" bindValue="value" name="name"
                      formControlName="district" #selectDistrict [virtualScroll]="true" [loading]="prLoading"
                      [ngClass]="{ 'is-invalid': submitted && form['district'].errors }"
                      appendTo="body" placeholder="Select district" [readonly]="!form['state'].value" (change)="getCity($event)" >
                      <ng-template ng-loadingspinner-tmp>
                        <div class="lds-ellipsis">
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                        </div>
                      </ng-template>
                    </ng-select> -->
                  <div>
                    <small class="text-danger ms-1" *ngIf="submitted && form['district'].errors"> District required </small>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12 my-2">
                <div>
                  <label class="fw-bold red-heading fs-6">City*</label>
                  <p-dropdown [options]="city" optionValue="value" optionLabel="name"
                      [required]="true" formControlName="city" [filter]="true" filterBy="name" [showClear]="false"
                      placeholder="Select a City" [readonly]="!form['district'].value" ></p-dropdown>

                  <!-- <select class="form-select shadow-none bulk-input py-2" formControlName="city"
                    aria-label="Default select example" required>
                    <option value="null">Select City</option>
                    <option *ngFor="let c of city" value="{{ c.value }}">
                      {{ c.name }}
                    </option>
                  </select> -->
                  <div>
                    <small class="text-danger ms-1" *ngIf="submitted && form['city'].errors">City Required</small>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-12 my-2">
                <label class="fw-bold red-heading fs-6">Pin code*</label>
                <div>
                  <input type="text" formControlName="pinCode" (keypress)="keyPressNumbers($event)"
                    class="form-control rounded-2 bulk-input" required />
                  <small class="text-danger ms-1" *ngIf="submitted && validate('pinCode')">Pincode is Invalid</small>
                </div>
              </div>

              <div class="col-sm-6 col-12 my-2">
                <label class="fw-bold red-heading fs-6">Institution Name</label>
                <div>
                  <input type="text" formControlName="institutionName" class="form-control rounded-2 bulk-input" />
                  <small class="text-danger ms-1" *ngIf="submitted && validate('institutionName')">Institution Name is
                    Invalid</small>
                </div>
              </div>

              <div class="col-sm-6 col-12 my-2">
                <label class="fw-bold red-heading fs-6">Name*</label>
                <div>
                  <input type="text" formControlName="name" class="form-control rounded-2 bulk-input" required />
                  <small class="text-danger ms-1" *ngIf="submitted && validate('name')">Name is Invalid</small>
                </div>
              </div>

              <div class="col-sm-6 col-12 my-2">
                <label class="fw-bold red-heading fs-6">Phone Number *</label>
                <div>
                  <input type="text" formControlName="number1" (keypress)="keyPressNumbers($event)" maxlength="10"
                    class="form-control rounded-2 bulk-input" />
                  <small class="text-danger ms-1" *ngIf="submitted && validate('number1')">Phone Number is Invalid</small>
                </div>
              </div>

              <div class="col-sm-6 col-12 my-2">
                <label class="fw-bold red-heading fs-6">Email Id*</label>
                <div>
                  <input type="text" formControlName="email" class="form-control rounded-2 bulk-input" required />
                  <small class="text-danger ms-1" *ngIf="submitted && validate('email')">Email Id is Invalid</small>
                </div>
              </div>

              <div class="col-12 my-2">
                <label class="fw-bold red-heading fs-6">Your Address</label>
                <div>
                  <textarea type="text" formControlName="address" class="form-control rounded-2 bulk-text" rows="9"
                    required></textarea>
                  <small class="text-danger ms-1" *ngIf="submitted && validate('address')">Address is Invalid</small>
                </div>
              </div>

              <!-- <div class="col-sm-6 col-12 my-2">
                <label class="fw-bold red-heading fs-6">Phone Number 2*</label>
                <div>
                  <input type="text" formControlName="number2" (keypress)="keyPressNumbers($event)"
                    class="form-control rounded-2 bulk-input" maxlength="10" required />
                  <small class="text-danger ms-1" *ngIf="submitted && validate('number2')">Phone Number is Invalid</small>
                </div>
              </div> -->

              <!-- <div class="col-12 my-2">
                <label class="fw-bold red-heading fs-6">Quantity</label>
                <div>
                  <input type="text" formControlName="quantity" (keypress)="keyPressNumbers($event)" maxlength="10"
                    class="form-control rounded-2 bulk-input" />
                  <small class="text-danger ms-1" *ngIf="submitted && validate('quantity')">Quantity is empty</small>
                </div>
              </div> -->

              <!-- <div class="col-12 my-2">
                <label class="fw-bold red-heading fs-6">Your Message</label>
                <div>
                  <textarea type="text" formControlName="messages" class="form-control rounded-2 bulk-text"
                    rows="9"></textarea>
                  <small class="text-danger ms-1" *ngIf="submitted && validate('messages')">Message is Invalid</small>
                </div>
              </div> -->

              <div class="col-12 text-center">
                <button type="submit" class="btn btn-danger mt-3 px-5 rounded-0">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
