<div class="shadow footer-container">
  <div class="container">

    <div class="row" *ngIf="!loading">
      <div class="col-12">
        <div class="text-center">
          <h4 class="menu-title"> Place We Serve </h4>
          <img src="assets/images/footer-menu-border.png" alt="---------" class="d-block mx-auto my-3">
        </div>
      </div>
    </div>

    <div class="row" *ngIf="!loading">
      <div class="col-12">
        <div fxLayout="row wrap" class="cities-container" *ngIf="cities.length > 0">
          <div fxFlex="20" fxFlex.lt-md="50" fxFlex.lt-sm="100" *ngFor="let city of cities" class="mb-1">
            <i class="place-icon pi pi-angle-right"></i>
            <span class="place-text"><a (click)="getBranch(city)">{{city.district}}</a></span> <!-- [routerLink]="'/city/'+city.id" -->
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center my-4" *ngIf="cities.length > 0">
      <div class="col-10">
        <div class="seperator"></div>
      </div>
    </div>

    <div class="row">

      <div class="col-12 col-sm-6 col-md-3">
        <div class="text-start">
          <h4 class="menu-title"> Our Address </h4>
          <img src="assets/images/footer-menu-border.png" alt="---------" class="my-3">
        </div>
        <div class="menu-address">
          <div fxLayout="row" fxLayoutGap="10px" class="mb-2">
            <div>
              <i class="address-icon fa-solid fa-location-arrow"></i>
            </div>
            <div>
              <b>Annapoorna Foods</b><br>
              #4/ 27, First Floor,<br>
              VW Complex, Salem Road,<br>
              Namakkal - 637 001, Tamilnadu.
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="10px" class="mb-2">
            <div>
              <i class="address-icon fa-solid fa-phone"></i>
            </div>
            <div>
               <a href="tel:+919790581836"> +91 97905 81836 </a>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="10px" class="mb-2">
            <div>
              <i class="address-icon fa-solid fa-envelope"></i>
            </div>
            <div>
              <a href="mailto:vendors@monsterfoods.in"> vendors@monsterfoods.in </a>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="10px" class="mb-2">
            <div>
              <i class="address-icon fa-solid fa-envelope"></i>
            </div>
            <div>
              <a href="mailto:sales@monsterfoods.in"> sales@monsterfoods.in </a>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="10px" class="mb-2">
            <div>
              <i class="address-icon fa-solid fa-envelope"></i>
            </div>
            <div>
              <a href="mailto:customercare@monsterfoods.in"> customercare@monsterfoods.in </a>
            </div>
          </div>
        </div>
        <!-- <div class="mt-4">
          <img src="assets/images/GooglePlay.png" alt="Monster Chicken" style="max-width: 100%;">
        </div> -->
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="text-start">
          <h4 class="menu-title"> Quick Links </h4>
          <img src="assets/images/footer-menu-border.png" alt="---------" class="my-3">
        </div>
        <div class="menu-list">
          <ul>
            <li>
              <i class="list-icon pi pi-angle-right"></i>
              <span class="list-text"><a [routerLink]="'/about-us'">About Us</a></span>
            </li>
            <li>
              <i class="list-icon pi pi-angle-right"></i>
              <span class="list-text"><a [routerLink]="'/contact-us'">Contact Us</a></span>
            </li>
            <li>
              <i class="list-icon pi pi-angle-right"></i>
              <span class="list-text"><a [routerLink]="'/privacy-policy'">Privacy Policy</a></span>
            </li>
            <li>
              <i class="list-icon pi pi-angle-right"></i>
              <span class="list-text"><a>T&C FAQ</a></span>
            </li>
            <!-- <li>
              <i class="list-icon pi pi-angle-right"></i>
              <span class="list-text"><a>Franchise Outlet</a></span>
            </li> -->
            <li>
              <i class="list-icon pi pi-angle-right"></i>
              <span class="list-text"><a [routerLink]="'/become-a-franchise'">Become A Franchise</a></span>
            </li>
            <li>
              <i class="list-icon pi pi-angle-right"></i>
              <span class="list-text"><a [routerLink]="'/blog'">Blog</a></span>
            </li>
            <li>
              <i class="list-icon pi pi-angle-right"></i>
              <span class="list-text"><a [routerLink]="'/career'">Career</a></span>
            </li>
            <!-- <li>
              <i class="list-icon pi pi-angle-right"></i>
              <span class="list-text"><a>Site Map</a></span>
            </li> -->
          </ul>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="text-start">
          <h4 class="menu-title"> Our Categories </h4>
          <img src="assets/images/footer-menu-border.png" alt="---------" class="my-3">
        </div>
        <div class="menu-list">
          <ul *ngIf="categories.length > 0">
            <li *ngFor="let category of categories">
              <i class="list-icon pi pi-angle-right"></i>
              <span class="list-text"><a [routerLink]="'/category/' + category.product_category_id" > {{ category.category | titlecase }} </a></span>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="mt-4">
          <img src="assets/images/GooglePlay.png" alt="Monster Foods" class="pointer" (click)="showAppdialog()" style="max-width: 100%;">
        </div>
        <div class="mt-4">
          <img src="assets/images/certificates.jpg" alt="Monster Foods" style="max-width: 200px; border: 2px solid #666; border-radius: 10px;">
        </div>
      </div>

    </div>

  </div>

  <!-- Copyrights Section -->
  <div class="row justify-content-center mt-4">
    <div class="col-12">
      <div class="seperator mb-0"></div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="copyright">
        ©{{ currentYear }} Monster Foods . All Rights Reserved. Made with ♥ at <a href="https://www.cloudintechnologies.com/" target="_blank" rel="noopener noreferrer"> Cloudin Labs </a>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Coming Soon" [(visible)]="visible" [modal]="true" [breakpoints]="{ '960px': '85vw' }" [style]="{ width: '45vw' }" [draggable]="false" [resizable]="false">

  <div class="alert alert-warning mb-0" role="alert">
    <b class="m-0">
      Our highly functional and outstanding app is currently under construction. We appreciate your patience during this time.
    </b>
  </div>

</p-dialog>
