<div class="container-fluid bg-white shadow">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
            <img src="assets/images/Logo.png" class="img-thumbnail" alt="" style="max-width: 80px">
        </div>
        <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit adipisci non temporibus officia nemo debitis expedita nihil pariatur. Fugiat consequuntur exercitationem repudiandae quisquam. Rem, nostrum beatae est esse soluta earum.
        </div>
        <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit adipisci non temporibus officia nemo debitis expedita nihil pariatur. Fugiat consequuntur exercitationem repudiandae quisquam. Rem, nostrum beatae est esse soluta earum.
        </div>
    </div>
</div>