<page-loader [loading]="loading"></page-loader>

<div class="container py-3 px-4">

  <div class="row justify-content-center">
    <div class="col-md-10 col-12">
      <div class="product-trails">
        <ul>
          <li> <a routerLink="/" class="pointer"> Home </a> </li>
          <li> Careers </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-10 col-12">
      <form [formGroup]="careerForm" (ngSubmit)="careerSubmit()">
        <div class="px-4 py-4 mb-5 shadow">

          <div class="card-title mb-4">
            <span class="h4 fw-bold text-black">Join our team</span>
            <!-- <p class="text-black-50 fw-semibold"> Monster chicken is launching Broiler chicken, frozen chicken and Egg
              sales outlets all over india. If you have the dream of launching a successful chicken shop of your own.
              Monster chicken is there with you.</p> -->
          </div>

          <div class="card-title mb-3">
            <span class="fw-bold text-danger">Fill out your details in the form below and we will get in touch within 48 hours</span>
          </div>

          <div class="card-body">
            <div class="row g-2">

              <div class="col-sm-6 col-md-4 col-12 my-2">
                <label class="fw-bold red-heading fs-6">Name*</label>
                <div>
                  <input type="text" formControlName="name" class="form-control rounded-2 bulk-input" />
                  <div class="text-danger ms-1" *ngIf="form['name'].errors?.pattern">Only alphabets and space allowed</div>
                  <div class="text-danger ms-1" *ngIf="submitted && form['name'].errors.required">Name is required</div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-12 my-2">
                <label class="fw-bold red-heading fs-6">Email Id*</label>
                <div>
                  <input type="email" formControlName="email" class="form-control rounded-2 bulk-input" required />
                  <!-- <div class="text-danger ms-1" *ngIf="form['email'].errors?.pattern">Mail should contain only (a-z), (0-9) and "."</div> -->
                  <div class="text-danger ms-1" *ngIf="submitted && form['email'].errors.required">Email Id is required</div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 col-12 my-2">
                <label class="fw-bold red-heading fs-6">Phone Number*</label>
                <div>
                  <input type="text" formControlName="number" maxlength="10" class="form-control rounded-2 bulk-input" />
                  <div class="text-danger ms-1" *ngIf="form['number'].errors?.pattern">Must start with 6 to 9 and must be 10 digits</div>
                  <div class="text-danger ms-1" *ngIf="submitted && form['number'].errors.required">Phone Number is required</div>
                </div>
              </div>

              <div class="col-12 my-2">
                <label class="fw-bold red-heading fs-6">Address*</label>
                <div>
                  <textarea type="text" formControlName="address" class="form-control rounded-2 bulk-text" rows="3" required></textarea>
                  <div class="text-danger ms-1" *ngIf="submitted && form['address'].errors">Address is required</div>
                </div>
              </div>

              <div class="col-12 my-2">
                <label class="fw-bold red-heading fs-6">Message</label>
                <div>
                  <textarea type="text" formControlName="message" class="form-control rounded-2 bulk-text"
                    rows="3"></textarea>
                  <small class="text-danger ms-1" *ngIf="submitted && form['message'].errors">Message is Invalid</small>
                </div>
              </div>

              <div class="col-12 my-2">
                <label class="fw-bold red-heading fs-6">Resume</label>
                <div>
                  <input type="file" class="d-block" (change)="onSelect($event)" />
                  <small class="text-danger ms-1" *ngIf="fileError != ''">{{fileError}}</small>
                </div>
              </div>

              <div class="col-12 text-center">
                <button type="submit" class="btn btn-mred w-100 mt-3 px-5 rounded-0 py-3 btn-lg"> Submit </button>
              </div>

            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
