<page-loader [loading]="loading"></page-loader>

<div class="row" *ngIf="!loading">
  <div class="col-12" *ngIf="errorAlert">
    <div class="alert alert-danger" role="alert">
      Service not available! Please Choose different location
    </div>
  </div>
  <div class="col-12">
    <div class="p-input-icon-right w-100 mb-3">
      <i class="pi pi-search fw-bold text-dark"></i>
      <input type="text" class="form-control form-control-md" [options]="optionsPlaces" ngx-google-places-autocomplete (onAddressChange)="addressChange($event)" [(ngModel)]="searchString" #searchInput
         placeholder="Enter your location" (keyup)="searchFn()"/>
      <!-- #searchInput="ngx-places" (keyup)="searchFn()" [formControl]="autocompleteInputControl"  -->
    </div>
  </div>
  <div class="col-12 text-end mb-3">
    <button type="button" (click)="handlePermission()" class="btn btn-sm btn-outline-dark me-1"><i class="fa-solid fa-location-crosshairs mr-1"></i> Use Current Location</button>
    <button type="button" *ngIf="confirmAddress" (click)="showAddress.emit()" class="btn btn-sm btn-outline-danger"> Confirm Location</button>
  </div>
</div>

<!-- <div *ngIf="apiLoaded | async"> -->

<google-map height="450px" width="100%" [center]="mapMarker" [zoom]="zoom" (mapClick)="moveMap($event)"
  (mapMousemove)="move($event)">
  <map-marker *ngIf="mapMarker" [position]="mapMarker" (mapClick)="moveMap($event)" (mapDragend)="moveMap($event)"
    [options]="markerOptions"></map-marker>
</google-map>

<!-- <div>Latitude: {{display?.lat}}</div>
<div>Longitude: {{display?.lng}}</div>
<pre>
  {{ geoResult | json }}
</pre> -->

<!-- </div> -->


<ng-template #locationAllow role="document" let-modal>

  <div class="modal-body">
    <div class="text-center">
      <div class="alert alert-danger text-center" role="alert">
        Allow location permission in your browser.
      </div>
      <button type="button" (click)="closeBlocker()" class="btn btn-dark btn-sm px-3" id="btn-save-event"> Close
      </button>
    </div>
  </div>

</ng-template>

