::ng-deep {

  .p-dropdown {
    display: flex !important;
    height: 38px;
    border-radius: 0.375rem;

    &:not(.p-disabled).p-focus {
      box-shadow: 0 0 0 !important;
      border-color: #000 !important;
    }

    &:not(.p-disabled):hover {
      border-color: #000;
    }
  }

}


.franchise-ad {
  border-radius: 15px;
  aspect-ratio: 21/7;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
}

