<page-loader [loading]="loading"></page-loader>

<div class="container py-5" *ngIf="!loading">

  <div class="row">
    <div class="col-12 col-md-3">
      <ul class="chk-menu-ul">

        <li class="chk-menu-li" [ngClass]="this.active == 'address' ? 'active' : ''">
          <div class="menu-card" [ngClass]="this.active == 'address'? 'active' : ''">
            <div class="title">
              Choose Address
            </div>
            <div class="sub-title">
              {{address}}
            </div>
          </div>
        </li>

        <li class="chk-menu-li " [ngClass]="this.active == 'summary' ? 'active' : ''">
          <div class="menu-card " [ngClass]="this.active == 'summary'? 'active' : ''">
            <div class="title">
              Delivery Summary
            </div>
            <div class="sub-title">
            </div>
          </div>
        </li>

        <li class="chk-menu-li " [ngClass]="this.active == 'payment' ? 'active' : ''">
          <div class="menu-card " [ngClass]="this.active == 'payment'? 'active' : ''">
            <div class="title">
              Payment
            </div>
            <div class="sub-title">
            </div>
          </div>
        </li>

      </ul>
    </div>
    <div class="col-12 col-md-9">
      <div class="chk-content">
        <router-outlet></router-outlet>
      </div>
      <!-- <div class="chk-content" *ngIf="!editAddress">
        <address-list (addAddress)="editAddress = true"></address-list>
      </div>
      <div class="chk-content" *ngIf="editAddress">
        <change-address (backToList)="editAddress = false"></change-address>
      </div> -->
    </div>
  </div>

</div>
