<page-loader [loading]="loading"></page-loader>

<div class="container py-5" *ngIf="!loading">

  <div class="row justify-content-center">
    <div class="col-12 col-md-12 col-lg-3 d-none d-lg-block">

      <ul class="chk-menu-ul">

        <li class="chk-menu-li" [ngClass]="menu === 'address' ? 'active' : (addressSuccess? 'active success':'')" >
          <div class="menu-card" [ngClass]="menu === 'address'? 'active' : (addressSuccess? 'active success':'')" >
            <div class="title">
              Choose Address
            </div>
            <div class="sub-title">
              <!-- {{address}} -->
            </div>
          </div>
        </li>

        <li class="chk-menu-li " [ngClass]="menu === 'summary' ? 'active' : summarySuccess? 'active success':''" >
          <div class="menu-card " [ngClass]="menu === 'summary'? 'active' : summarySuccess? 'active success':''" >
            <div class="title">
              Order Summary
            </div>
            <div class="sub-title">
            </div>
          </div>
        </li>

        <li class="chk-menu-li " [class]="menu === 'payment' ? 'active' : ''">
          <div class="menu-card "> <!--  [ngClass]="this.menu == 'payment'? 'active' : ''" -->
            <div class="title">
              Payment
            </div>
            <div class="sub-title">
            </div>
          </div>
        </li>

      </ul>
    </div>
    <div class="col-12 col-lg-9 col-md-12">
      <div class="chk-content">
        <router-outlet></router-outlet>
      </div>
      <!-- <div class="chk-content" *ngIf="!editAddress">
        <address-list (addAddress)="editAddress = true"></address-list>
      </div>
      <div class="chk-content" *ngIf="editAddress">
        <change-address (backToList)="editAddress = false"></change-address>
      </div> -->
    </div>
  </div>

</div>
